*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto slab';
    width: 80rem;
    margin: auto;
    background-image: linear-gradiant();
    background-image: url('example_img_girl.jpg');
    background-repeat: no-repeat;
} 

.header{
    min-height: 50rem;
    width: 80rem;
    background-color: #fafafa;
    position: sticky;
    text-align: center;
}

h1{
    color: #18181b;
    font-size: 3rem;
    line-height: 1;
}

@media(max-width: 640px){
    .text-box h1{
        font-size: 3rem;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: sticky;
        background: #18181b;
        height: 100vh;
        width: 200rem;
        top: 0;
        right: -200rem;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #18181b;
        margin: 10rem;
        font-size: 22rem;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30rem;
    }
}

/*---- Drop down menu ----*/

a{
    color: #18181b;
}

.navbar{
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    color: #18181b;
}

.dropdown{
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
} 

.dropdown .dropbtn{
    color: #18181b;
    list-style: none;
    display: inline-block;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.navbar a:hover, .dropdown:hover .dropbtn{
    background-color: #71717a;
}

.dropdown-content{
    display: none;
    background-color: #075985; /*reeeeeeeee*/
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    z-index: 1;
}

.dropdown-content a{
    color: #fafafa;
    padding: 0.75rem 0.875rem;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover{
    background-color: #27272a;
}

.dropdown:hover .dropdown-content{
    display: block;
}