@font-face {
    font-family: RobotoSlab;
    src: url("/fonts/Roboto_Slab/RobotoSlab.ttf");
  }
  
  @font-face {
    font-family: OpenSans;
    src: url("/fonts/Open_Sans/OpenSans.ttf");
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: "OpenSans";
  }
  
  html {
    scroll-behavior: smooth;
    background-color: #fafafa;
  }
  h1 {
    font-size: 1.875rem;
    line-height: 1;
    font-family: RobotoSlab;
  }
  